@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.hero-section {
  background-image: linear-gradient(#4f46e5, #5022ce);
}
.hero-data {
  max-width: 560px;
  margin-right: 0px;
  margin-left: auto;
}
.hero-container {
  max-width: 1735px;
}

.nav-bar {
  background: #4f46e5;
}